@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: myFirstFont;
  src: url("../font/chinese.sthupo.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fira-sans-font {
  font-family: "Fira Sans", sans-serif;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.btn:hover {
  color: #212529;
}

.section-title h2,
.section-title1 h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  color: white;
}

.footer_upper_box img {
  height: 55px;
  width: 60px;
}

.footer_upper_box h3 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

/* Global Recruitment News Image Slider Homepage */
.news_img_box {
  height: 360px;
  width: 100%;
}

/* Contact Section Wave Homepage */
.contact_wave {
  position: relative !important;
  padding-top: 100px;
}

.wave {
  position: absolute;
  width: 100%;
  padding-top: 12%;
  top: -5px;
  left: 0;
  background-image: url("../../images/wave-01.png");
  background-repeat: repeat-x;
  background-size: 100%;
  -webkit-animation: wave 8s linear infinite;
  animation: wave 8s linear infinite;
}

.wave::before {
  content: "";
  position: absolute;
  width: 100%;
  padding-top: 12%;
  top: -5px;
  left: 0;
  background-image: url("../../images/wave-01.png");
  background-repeat: repeat-x;
  background-size: 100%;
  opacity: 0.2;
  -webkit-animation: background-position-y 8s linear infinite;
  animation: wave-reverse 8s linear infinite;
}

.wave::after {
  content: "";
  position: absolute;
  width: 100%;
  padding-top: 12%;
  top: -5px;
  left: 0;
  background-image: url("../../images/wave-01.png");
  background-repeat: repeat-x;
  background-size: 100%;
  opacity: 0.8;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-animation: wave 16s linear infinite;
  animation: wave 16s linear infinite;
}

@-webkit-keyframes wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100vw;
  }
}

@keyframes wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100vw;
  }
}

@-webkit-keyframes wave-reverse {
  0% {
    background-position: 100vw;
  }
  100% {
    background-position: 0;
  }
}

@keyframes wave-reverse {
  0% {
    background-position: 100vw;
  }
  100% {
    background-position: 0;
  }
}

/* Contact Section Homepage */
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: white;
}

.contact .info i {
  font-size: 32px;
  color: #ffffff;
  float: left;
  line-height: 1;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #ebebeb;
}

/* Footer Section Homepage */
.footer_header {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.footer_link_list p {
  margin: 0 0 10px 0;
  border-bottom: 1px solid white;
  font-size: 16px;
  color: #fff;
}

.footer_link_list p a {
  color: #fff;
}

/* Footer Custom Button Homepage */
.custom-btn1 {
  background-color: #ff6f42 !important;
  font-size: 20px;
  color: #ffcc07 !important;
  padding: 10px;
  font-weight: bold;
}

.custom-btn2 {
  background-color: #ffcc07 !important;
  font-size: 20px;
  color: #ff6f42 !important;
  padding: 10px;
  font-weight: bold;
}

/* Footer Link Homepage */
.footer_link {
  padding-top: 15px;
}

.footer_link a {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

/* Social Icon Homepage */
.social_icon_list a {
  border: 1px solid white;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  margin-right: 8px;
}

.header_text {
  font-size: 50px;
  font-variant: small-caps;
  color: #243669;
  font-family: myFirstFont, serif;
  font-weight: bold;
  letter-spacing: 3px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.header_text span {
  color: darkorange;
}

.crew_reg_icon {
  height: 12px;
  width: 12px;
  margin-left: -15px;
}

.page_top_section {
  background-image: url("https://isol.com.bd/public/front/assets/img/background/Group 18.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.page-header {
  padding-top: 140px;
  padding-bottom: 35px;
}

.page-header h3 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 15px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8c00;
  font-family: "TahomeBold", sans-serif;
}

.page-header h3::after {
  content: "";
  width: 90px;
  height: 2px;
  display: inline-block;
  background: #ff8c00;
  margin: 4px 10px;
}

.page-header h2 {
  margin: 0;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "TahomeBold", sans-serif;
  color: #ff8c00;
}

@media (max-width: 767px) {
  .page-header h2 {
    font-size: 34px;
  }

  .page-header h3 {
    font-size: 12px;
    letter-spacing: 0;
    margin: 0 0 7px 0;
  }

  .page-header h3::after {
    display: none;
  }
}

.down-arrow {
  display: inline-block;
  position: relative;
  background: #3c9fb4;
  padding: 15px 0;
  width: 100%;
  text-align: center;
}
.down-arrow:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 10px solid #3c9fb4;
  border-right: 10px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 10px solid transparent;
}

.custom_drop_color {
  display: inline-block;
  position: relative;
  background: #f29e29;
  padding: 15px 0;
  width: 100%;
  text-align: center;
}
.custom_drop_color:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 10px solid #f29e29;
  border-right: 10px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 10px solid transparent;
}

.custom_height_work {
  height: 400px;
  padding-bottom: 30px;
}

.work_custom_background {
  background-color: rgba(22, 22, 22, 0.23);
}

.client_image {
  padding-top: 50px;
  height: auto;
  text-align: center;
}

.client_text {
  color: white;
}

.client_text p {
  text-align: justify;
}

.client_text_brown {
  color: #f29e29;
}

.client_text_brown p {
  text-align: justify;
}

@media (max-width: 992px) {
  .custom_height_work {
    height: 100%;
  }
}

.work_button_box {
  background-color: #3c9fb4;
  padding: 20px 40px;
  height: 100px;
}

.work_button_box2 {
  background-color: #f29e29;
  padding: 25px 40px;
  height: 100px;
}

.btn-work {
  background-color: #bf221c;
}

.custom_height_value {
  height: 100%;
}

@media screen and (max-width: 320px) {
  .work_button_box {
    height: 200px;
    padding: 10px 20px;
    text-align: center;
  }

  .work_button_box2 {
    text-align: center;
    padding: 20px;
    height: 165px;
  }

  .work_button_box p,
  .work_button_box2 p {
    margin-bottom: 1rem !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .work_button_box {
    height: 185px;
    padding: 20px;
    text-align: center;
  }

  .work_button_box2 {
    height: 133px;
    padding: 15px 20px;
    text-align: center;
  }

  .work_button_box p,
  .work_button_box2 p {
    margin-bottom: 1rem !important;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .work_button_box {
    height: 190px;
    padding: 25px;
    text-align: center;
  }

  .work_button_box2 {
    height: 140px;
    padding: 20px;
    text-align: center;
  }

  .work_button_box p,
  .work_button_box2 p {
    margin-bottom: 1rem !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .work_button_box,
  .work_button_box2 {
    height: 150px;
    padding: 25px;
  }
}

/*Event*/
.event {
  padding: 40px 0;
  position: relative;
  transition: all 0.4s ease-out 0s;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.event::before {
  content: "";
  background: #fafafa;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.4s ease-out 0s;
}

.event .event--front {
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.event__date {
  background: #eb9356;
  width: 80px;
  height: 80px;
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .event__date {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .event__date {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .event__date {
    margin-right: 10px;
  }
}

.event__date h3 {
  color: #ffffff;
  font-size: 40px;
  display: block;
  margin-bottom: 0;
  padding-top: 8px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.event__date h3 span {
  font-size: 16px;
  line-height: 1;
  display: inherit;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.event__content .tag {
  color: #eb9356;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  font-weight: 700;
  display: inline-block;
  letter-spacing: -0.3px;
  background: #ffffff;
  padding: 9px 20px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.event__content .event-title {
  color: #3a3d3e;
  font-size: 30px;
  letter-spacing: -0.3px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

@media (max-width: 767px) {
  .event__content--meta {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .event__content--meta {
    margin-bottom: 10px;
  }
}

.event__content--meta span {
  color: #666;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  display: inline-block;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.event__content--meta span:first-child {
  margin-right: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .event__content--meta span:first-child {
    margin-right: 7px;
  }
}

.event__content--meta span i {
  color: #eb9356;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.event__content .white_btn {
  background: #ececec;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.event__content .white_btn:hover {
  background: #eb9356;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.event:hover::before {
  background: #3a3d3e;
  opacity: 0.9;
}

.event:hover .tag {
  background: #4e5152;
}

.event:hover .event-title {
  color: #ffffff;
}

.event:hover .event__content--meta span {
  color: #b8bcc0;
}

.event:hover .white_btn {
  color: #ffffff;
  background: #00aa55;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #0f0f0f;
  color: #ff8c00;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15px;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #009961;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #00b371;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

#footer .credits a {
  color: #00b371;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: #009961;
}
